<template lang="pug">
div.file-list
	transition-group(name="list" tag="div")
		ImageView.image-view(
			v-for="item of storedFiles"
			:key="item.file.uid"
			:file="item.file"
			:docType="item.docType"
		)
</template>

<script lang="ts">
import Vue from 'vue'
import ImageView from '@/components/ImageView.vue'
import { mapState } from 'vuex'

export default Vue.extend({
	name: 'home',

	components: { ImageView },

	computed: {
		...mapState('files', ['storedFiles']),
	},
})
</script>

<style scoped>
.image-view:not(:last-child) {
	margin-bottom: 20px;
}

.list-item {
	display: inline-block;
	margin-right: 10px;
}
.list-enter-active,
.list-leave-active {
	transition: all 0.5s;
}
.list-enter,
.list-leave-to {
	opacity: 0;
	transform: translateX(100%);
}
</style>
