<template lang="pug">
div.upload-view
	div(
		v-loading.lock="isUploading"
		element-loading-spinner="Upload__hide-spinner"
	)
		DocTypeSelect(
			:value="docType"
			@change="setDocType"
			:error="inputErrors.docType"
		)
		transition(name="el-zoom-in-top")
			UploadList(v-show="!isFileListEmpty")
		div.buttons
			PickFilesButton.button(@choose="addFile")
			UploadButton.button
	div.progress(v-show="isUploading")
		el-progress(
			type="circle"
			:percentage="progress"
			:status="progressStatus"
		)
</template>

<script lang="ts">
import Vue from 'vue'
import { mapMutations, mapState, mapGetters } from 'vuex'
import DocTypeSelect from '@/components/DocTypeSelect.vue'
import UploadList from '@/components/UploadList.vue'
import PickFilesButton from '@/components/PickFilesButton.vue'
import UploadButton from '@/components/UploadButton.vue'

export default Vue.extend({
	name: 'upload',

	components: { DocTypeSelect, UploadList, PickFilesButton, UploadButton },

	computed: {
		...mapState('upload', ['isUploading', 'progress', 'docType']),
		...mapGetters('upload', [
			'progressStatus',
			'isFileListEmpty',
			'inputErrors',
		]),
	},

	methods: {
		...mapMutations('upload', ['addFile', 'setDocType']),
	},
})
</script>

<style scoped>
.upload-view {
	position: relative;
}

.progress {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2000;
}

.buttons {
	display: flex;
}

.button:not(:last-child) {
	margin-right: 10px;
}
</style>

<style>
.Upload__hide-spinner {
	display: none !important;
}
</style>
