<template lang="pug">
el-form
	el-form-item(
		label="Тип документа:"
		:error="error"
	)
		el-select(v-model="docType" size="medium")
			el-option(
				v-for="item in docTypes"
				:key="item.name"
				:label="item.label"
				:value="item.name"
			)
</template>

<script lang="ts">
import Vue from 'vue'
import { DOC_TYPES } from '@/store/upload-store'

export default Vue.extend({
	name: 'doc-type-select',

	props: {
		value: {
			type: String,
			required: true,
		},
		error: String,
	},

	data() {
		return {
			docTypes: DOC_TYPES,
		}
	},

	computed: {
		docType: {
			get() {
				return this.value
			},
			set(value) {
				this.$emit('change', value)
			},
		},
	},
})
</script>
