<template lang="pug">
div.image-view
	img(ref="img" src="" height="200" alt="Image preview...")
	div.second-column
		DocTypeSelect(
			:value="docType"
			@change="onDocTypeChange"
		)
		p {{ docTypeLabel }}
		el-button(@click="removeFile(uid)") Удалить
</template>

<script lang="ts">
import DocTypeSelect from '@/components/DocTypeSelect.vue'
import { DOC_TYPES } from '@/store/upload-store'
import { mapMutations } from 'vuex'

export default {
	name: 'image-view',

	components: { DocTypeSelect },

	props: {
		file: {
			type: Object,
			required: true,
		},
		docType: {
			type: String,
		},
	},

	computed: {
		docTypeLabel() {
			const found = DOC_TYPES.find(item => item.name === this.docType)
			return found ? found.label : ''
		},
		uid() {
			return String(this.file.uid)
		},
	},

	mounted() {
		this.loadFile()
	},

	methods: {
		...mapMutations('files', ['changeDocType', 'removeFile']),

		loadFile() {
			const img = this.$refs.img
			const reader = new FileReader()
			reader.addEventListener('loadend', () => {
				img.src = reader.result
			})
			reader.readAsDataURL(this.file.raw)
		},

		onDocTypeChange(docType) {
			this.changeDocType({
				uid: this.uid,
				docType,
			})
		},
	},
}
</script>

<style scoped>
.image-view {
	display: flex;
}

img {
	border: 1px solid lightgrey;
	margin-right: 20px;
}
</style>
