<template lang="pug">
div
	el-upload(
		action="#"
		multiple
		:on-change="handleChange"
		:before-upload="beforeUpload"
	)
		el-button(size="medium") Добавить файлы
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
	name: 'pick-files-button',

	methods: {
		handleChange(file) {
			this.$emit('choose', file)
		},

		beforeUpload() {
			return false
		},
	},
})
</script>

