<template lang="pug">
el-button(
	size="medium"
	type="primary"
	:disabled="disabled"
	@click="onClick"
) Загрузить на сервер
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters, mapActions } from 'vuex'

export default Vue.extend({
	name: 'upload-button',

	computed: {
		...mapGetters('upload', { disabled: 'uploadDisabled' }),
	},

	methods: {
		...mapActions('upload', ['uploadFiles']),

		async onClick() {
			const status = await this.uploadFiles()
			if (status === 'success') {
				this.$message.success('Файлы успешно загружены!')
			} else if (status === 'error') {
				this.$message.error('Произошла ошибка!')
			}
		},
	},
})
</script>

