<template lang="pug">
div
	div.file(
		v-for="file of fileList"
		:key="file.uid"
	) {{ file.name }}
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'

export default Vue.extend({
	name: 'upload-list',

	computed: {
		...mapGetters('upload', ['fileList']),
	},
})
</script>

<style scoped>
.file {
	color: hsl(220, 3%, 39%);
	font-family: 'Fira Mono', monospace;
	margin-bottom: 10px;
}
</style>

