<template lang="pug">
div
	el-menu(
		router
		:default-active="currentPath"
		mode="horizontal"
	)
		el-menu-item(index="/") Изображения
		el-menu-item(index="/upload") Загрузка
	div.App__router-view
		router-view
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
	name: 'app',

	computed: {
		currentPath() {
			return this.$route.fullPath
		},
	},
})
</script>

<style>
.App__router-view {
	padding: 20px;
}
</style>

